.cta {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-weight: bold;
  width: 100%;
  transition: 0.3s background, 0.3s border;
  border: 1px solid var(--clr-light-5);
  color: var(--clr-light-5);
}

.cta svg {
  font-size: 2rem;
}

.payment {
  display: flex;
  gap: 1rem;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.active {
  pointer-events: none;
  border: 1px solid var(--clr-primary-1);
  background-color: var(--clr-primary-1);
  color: white;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
