.link {
  background-color: var(--clr-primary-1);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: var(--p1);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1rem;
  transition: 0.3s background;
}

.link svg {
  font-size: 1.3rem;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--clr-light-4);
}

.money {
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.checkout {
  padding: var(--p1);
  box-shadow: var(--bs-1);
  background-color: var(--clr-light-2);
}

.link:hover {
  background-color: var(--clr-primary-2);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
