.container {
  max-width: 20rem;
}

.head {
  display: flex;
  justify-content: space-between;
}

.input {
  padding: 1.25rem 1.563rem;
  border: 1px solid var(--clr-light-5);
  border-radius: 0.5rem;
  width: 100%;
  font-weight: bold;
  margin-top: 0.6rem;
}

.input::placeholder {
  font-weight: normal;
}

.error {
  color: var(--clr-danger-1);
  font-weight: 600;
}

.label {
  font-weight: 600;
}
