.container {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  letter-spacing: 0.13rem;
  font-size: 1rem;
  font-weight: 900;
}

.section {
  display: grid;
  grid-gap: 1.5rem;
  margin: 1.5rem 0;
}

.card {
  background-color: var(--clr-light-2);
  padding: var(--p1);
  box-shadow: var(--bs-3);
}

.hr {
  border: none;
  border-top: 1px solid rgb(231, 231, 231);
  margin: 1.5rem 0;
}

.btn {
  display: flex;
  background-color: var(--clr-dark-1);
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: auto;
  margin-top: 2rem;
  gap: 0.5rem;
  color: white;
  letter-spacing: 0.1rem;
  transition: 0.3s opacity;
}

.btn svg {
  font-size: 1.5rem;
}

.btn:disabled {
  opacity: 0.1;
}

@media only screen and (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }

  .address {
    grid-column: 1 / 3;
  }

  .card {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1105px) {
  .card {
    border-radius: var(--border-radius-1);
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
}
