.form {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  padding: var(--p1);
}

.title {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  letter-spacing: 0.13rem;
  font-size: 1rem;
  font-weight: 900;
}

.section {
  display: grid;
  grid-gap: 1.5rem;
  margin: 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }

  .address {
    grid-column: 1 / 3;
  }
}
