.wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url('../../assets/home/mobile/image-header.jpg');
  min-height: calc(100vh - 77px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--clr-dark-2);
  z-index: 1;
  margin-bottom: var(--gap-1);
}

.container {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  padding: var(--p1);
}

.text {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  color: white;
}

.adv {
  font-size: var(--fs-200);
  color: var(--clr-light-4);
  letter-spacing: 0.625rem;
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  letter-spacing: 0.081rem;
  line-height: 3.5rem;
}

.desc {
  font-size: var(--fs-300);
  color: var(--clr-light-4);
  line-height: 1.563rem;
  max-width: 21.813rem;
}

.img {
  display: none;
}

.slice {
  display: none;
}

@media only screen and (min-width: 514px) {
  .wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/home/tablet/image-header.jpg');
  }

  .title {
    font-size: var(--fs-900);
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }
}

@media only screen and (min-width: 1040px) {
  .wrapper {
    background-image: none;
    min-height: 632px;
    height: 632px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='400' preserveAspectRatio='none' viewBox='0 0 1000 400'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath7198%26quot%3b)' fill='none'%3e%3ccircle r='32.71' cx='507.88' cy='138.45' fill='url(%23SvgjsLinearGradient7199)'%3e%3c/circle%3e%3ccircle r='13.555' cx='103.38' cy='17.92' fill='url(%23SvgjsLinearGradient7200)'%3e%3c/circle%3e%3ccircle r='33.76' cx='394.2' cy='99.64' fill='url(%23SvgjsLinearGradient7201)'%3e%3c/circle%3e%3ccircle r='10.17' cx='706.29' cy='276.34' fill='url(%23SvgjsLinearGradient7202)'%3e%3c/circle%3e%3ccircle r='31.545' cx='623.56' cy='145.78' fill='url(%23SvgjsLinearGradient7203)'%3e%3c/circle%3e%3ccircle r='14.325' cx='467.35' cy='304.53' fill='url(%23SvgjsLinearGradient7204)'%3e%3c/circle%3e%3ccircle r='32.465' cx='718.03' cy='82.72' fill='url(%23SvgjsLinearGradient7205)'%3e%3c/circle%3e%3ccircle r='34.375' cx='176.69' cy='152.63' fill='url(%23SvgjsLinearGradient7206)'%3e%3c/circle%3e%3ccircle r='33.09' cx='491.56' cy='102.78' fill='url(%23SvgjsLinearGradient7207)'%3e%3c/circle%3e%3ccircle r='33.715' cx='432.5' cy='241.45' fill='url(%23SvgjsLinearGradient7208)'%3e%3c/circle%3e%3ccircle r='21.39' cx='2.25' cy='378.73' fill='url(%23SvgjsLinearGradient7209)'%3e%3c/circle%3e%3ccircle r='34.37' cx='761.24' cy='245.02' fill='url(%23SvgjsLinearGradient7210)'%3e%3c/circle%3e%3ccircle r='30.045' cx='539.64' cy='49.79' fill='url(%23SvgjsLinearGradient7211)'%3e%3c/circle%3e%3ccircle r='29.89' cx='935.78' cy='159.82' fill='url(%23SvgjsLinearGradient7212)'%3e%3c/circle%3e%3ccircle r='10.035' cx='971.57' cy='314.99' fill='url(%23SvgjsLinearGradient7213)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath7198'%3e%3crect width='1000' height='400' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='573.3' y1='138.45' x2='442.46' y2='138.45' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7199'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='130.49' y1='17.92' x2='76.27' y2='17.92' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7200'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='461.72' y1='99.64' x2='326.68' y2='99.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7201'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='726.6299999999999' y1='276.34' x2='685.9499999999999' y2='276.34' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7202'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='686.6499999999999' y1='145.78' x2='560.4699999999999' y2='145.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7203'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='496.00000000000006' y1='304.53' x2='438.70000000000005' y2='304.53' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7204'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='782.9599999999999' y1='82.72' x2='653.0999999999999' y2='82.72' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7205'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='245.44' y1='152.63' x2='107.94' y2='152.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7206'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='557.74' y1='102.78' x2='425.38' y2='102.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7207'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='499.93' y1='241.45' x2='365.07' y2='241.45' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7208'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='45.03' y1='378.73' x2='-40.53' y2='378.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7209'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='829.98' y1='245.02000000000004' x2='692.5' y2='245.02000000000004' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7210'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='599.73' y1='49.79' x2='479.54999999999995' y2='49.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7211'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='995.56' y1='159.82' x2='876' y2='159.82' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7212'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='991.64' y1='314.99' x2='951.5' y2='314.99' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7213'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='400' preserveAspectRatio='none' viewBox='0 0 1000 400'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath8030%26quot%3b)' fill='none'%3e%3ccircle r='39.7' cx='556.61' cy='84.37' fill='url(%23SvgjsLinearGradient8031)'%3e%3c/circle%3e%3ccircle r='36.36' cx='149.89' cy='134.67' fill='url(%23SvgjsLinearGradient8032)'%3e%3c/circle%3e%3ccircle r='25.95' cx='512.34' cy='391.16' fill='url(%23SvgjsLinearGradient8033)'%3e%3c/circle%3e%3ccircle r='31.63' cx='512.91' cy='201.09' fill='url(%23SvgjsLinearGradient8034)'%3e%3c/circle%3e%3ccircle r='26.615' cx='301.49' cy='85.84' fill='url(%23SvgjsLinearGradient8035)'%3e%3c/circle%3e%3ccircle r='25.07' cx='961.47' cy='48.32' fill='url(%23SvgjsLinearGradient8036)'%3e%3c/circle%3e%3ccircle r='16.14' cx='459.55' cy='382.05' fill='url(%23SvgjsLinearGradient8037)'%3e%3c/circle%3e%3ccircle r='22.13' cx='420.27' cy='256.13' fill='url(%23SvgjsLinearGradient8038)'%3e%3c/circle%3e%3ccircle r='26.41' cx='578.66' cy='222.91' fill='url(%23SvgjsLinearGradient8039)'%3e%3c/circle%3e%3ccircle r='34.235' cx='96.91' cy='115.42' fill='url(%23SvgjsLinearGradient8040)'%3e%3c/circle%3e%3ccircle r='12.17' cx='475.87' cy='321.23' fill='url(%23SvgjsLinearGradient8041)'%3e%3c/circle%3e%3ccircle r='17.66' cx='249.78' cy='300.36' fill='url(%23SvgjsLinearGradient8042)'%3e%3c/circle%3e%3ccircle r='23.655' cx='259.62' cy='241.37' fill='url(%23SvgjsLinearGradient8043)'%3e%3c/circle%3e%3ccircle r='26.97' cx='891.36' cy='273.91' fill='url(%23SvgjsLinearGradient8044)'%3e%3c/circle%3e%3ccircle r='24.94' cx='269.36' cy='384.98' fill='url(%23SvgjsLinearGradient8045)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath8030'%3e%3crect width='1000' height='400' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='636.01' y1='4.969999999999999' x2='477.21000000000004' y2='163.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8031'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='222.60999999999999' y1='61.94999999999999' x2='77.16999999999999' y2='207.39' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8032'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='564.24' y1='339.26000000000005' x2='460.44000000000005' y2='443.06000000000006' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8033'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='576.17' y1='137.83' x2='449.65' y2='264.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8034'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='354.72' y1='32.61000000000001' x2='248.26000000000002' y2='139.07' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8035'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1011.61' y1='-1.8200000000000003' x2='911.33' y2='98.46000000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8036'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='491.83' y1='349.77' x2='427.27' y2='414.33' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8037'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='464.53' y1='211.87' x2='376.01' y2='300.39' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8038'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='631.4799999999999' y1='170.09' x2='525.8399999999999' y2='275.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8039'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='165.38' y1='46.95' x2='28.439999999999998' y2='183.89' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8040'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='500.21000000000004' y1='296.89000000000004' x2='451.53000000000003' y2='345.57000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8041'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='285.1' y1='265.04' x2='214.46' y2='335.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8042'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='306.93' y1='194.06' x2='212.31' y2='288.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8043'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='945.3000000000001' y1='219.97000000000003' x2='837.4200000000001' y2='327.85' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8044'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='319.24' y1='335.1' x2='219.48000000000002' y2='434.86' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8045'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 51%2c 51%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  }

  .container {
    min-height: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    text-align: left;
    align-items: flex-start;
  }

  .img {
    display: block;
    max-width: 30rem;
    margin-top: 2rem;
  }

  .slice {
    position: absolute;
    display: block;
    background-color: white;
    z-index: -1;
    width: 100%;
    height: 6rem;
    bottom: -2rem;
    left: 0;
    right: 0;
    transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
  }
}

@media only screen and (max-width: 334px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
