.wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url('../../assets/home/mobile/image-header.jpg');
  min-height: calc(100vh - 77px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--clr-dark-2);
  z-index: 1;
  margin-bottom: var(--gap-1);
}

.container {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  padding: var(--p1);
}

.text {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  color: white;
}

.adv {
  font-size: var(--fs-200);
  color: var(--clr-light-4);
  letter-spacing: 0.625rem;
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  letter-spacing: 0.081rem;
  line-height: 3.5rem;
}

.desc {
  font-size: var(--fs-300);
  color: var(--clr-light-4);
  line-height: 1.563rem;
  max-width: 21.813rem;
}

.img {
  display: none;
}

.slice {
  display: none;
}

@media only screen and (min-width: 514px) {
  .wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/home/tablet/image-header.jpg');
  }

  .title {
    font-size: var(--fs-900);
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }
}

@media only screen and (min-width: 1040px) {
  .wrapper {
    background-image: none;
    min-height: 632px;
    height: 632px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='500' preserveAspectRatio='none' viewBox='0 0 1000 500'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath11496%26quot%3b)' fill='none'%3e%3ccircle r='22.755' cx='773.44' cy='47.66' fill='url(%23SvgjsLinearGradient11497)'%3e%3c/circle%3e%3ccircle r='25.345' cx='965.86' cy='131.66' fill='url(%23SvgjsLinearGradient11498)'%3e%3c/circle%3e%3ccircle r='43.515' cx='851.49' cy='107.98' fill='url(%23SvgjsLinearGradient11499)'%3e%3c/circle%3e%3ccircle r='48.255' cx='407.24' cy='319.18' fill='url(%23SvgjsLinearGradient11500)'%3e%3c/circle%3e%3ccircle r='27.05' cx='387.31' cy='298.61' fill='url(%23SvgjsLinearGradient11501)'%3e%3c/circle%3e%3ccircle r='48.295' cx='268.58' cy='114.18' fill='url(%23SvgjsLinearGradient11502)'%3e%3c/circle%3e%3ccircle r='28.465' cx='424.54' cy='272.44' fill='url(%23SvgjsLinearGradient11503)'%3e%3c/circle%3e%3ccircle r='23.045' cx='315.95' cy='284.92' fill='url(%23SvgjsLinearGradient11504)'%3e%3c/circle%3e%3ccircle r='41.27' cx='530.63' cy='108.98' fill='url(%23SvgjsLinearGradient11505)'%3e%3c/circle%3e%3ccircle r='22.715' cx='97.76' cy='280.56' fill='url(%23SvgjsLinearGradient11506)'%3e%3c/circle%3e%3ccircle r='38.705' cx='97.31' cy='163.35' fill='url(%23SvgjsLinearGradient11507)'%3e%3c/circle%3e%3ccircle r='36.91' cx='426.69' cy='106.13' fill='url(%23SvgjsLinearGradient11508)'%3e%3c/circle%3e%3ccircle r='42.32' cx='291.37' cy='140.99' fill='url(%23SvgjsLinearGradient11509)'%3e%3c/circle%3e%3ccircle r='25.145' cx='475.81' cy='84.51' fill='url(%23SvgjsLinearGradient11510)'%3e%3c/circle%3e%3ccircle r='18.295' cx='843.53' cy='428.82' fill='url(%23SvgjsLinearGradient11511)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath11496'%3e%3crect width='1000' height='500' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='818.95' y1='2.1499999999999986' x2='727.9300000000001' y2='93.16999999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11497'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1016.5500000000001' y1='131.66' x2='915.1700000000001' y2='131.66' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11498'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='938.52' y1='107.98' x2='764.46' y2='107.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11499'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='503.75' y1='222.67000000000002' x2='310.73' y2='415.69000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11500'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='441.40999999999997' y1='244.51000000000002' x2='333.21' y2='352.71000000000004' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11501'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='365.16999999999996' y1='114.18' x2='171.98999999999998' y2='114.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11502'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='481.47' y1='215.51' x2='367.61' y2='329.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11503'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='362.04' y1='238.83' x2='269.86' y2='331.01' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11504'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='613.17' y1='108.98' x2='448.09' y2='108.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11505'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='143.19' y1='280.56' x2='52.330000000000005' y2='280.56' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11506'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='174.72' y1='85.94' x2='19.900000000000006' y2='240.76' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11507'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='500.51' y1='32.31' x2='352.87' y2='179.95' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11508'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='376.01' y1='56.35000000000001' x2='206.73000000000002' y2='225.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11509'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='526.1' y1='84.51' x2='425.52' y2='84.51' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11510'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='880.1199999999999' y1='428.82000000000005' x2='806.9399999999999' y2='428.82000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11511'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }

  .container {
    min-height: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    text-align: left;
    align-items: flex-start;
  }

  .img {
    display: block;
    max-width: 30rem;
    margin-top: 2rem;
  }

  .slice {
    position: absolute;
    display: block;
    background-color: white;
    z-index: -1;
    width: 100%;
    height: 6rem;
    bottom: -2rem;
    left: 0;
    right: 0;
    transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
  }
}

@media only screen and (max-width: 334px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
