.wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3)
    ),
    url('../../assets/home/mobile/image-header.jpg');
  min-height: calc(100vh - 77px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--clr-dark-2);
  z-index: 1;
  margin-bottom: var(--gap-1);
}

.container {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  padding: var(--p1);
}

.text {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  color: white;
}

.adv {
  font-size: var(--fs-200);
  color: var(--clr-light-4);
  letter-spacing: 0.625rem;
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  letter-spacing: 0.081rem;
  line-height: 3.5rem;
}

.desc {
  font-size: var(--fs-300);
  color: var(--clr-light-4);
  line-height: 1.563rem;
  max-width: 21.813rem;
}

.img {
  display: none;
}

.slice {
  display: none;
}

@media only screen and (min-width: 514px) {
  .wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/home/tablet/image-header.jpg');
  }

  .title {
    font-size: var(--fs-900);
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }
}

@media only screen and (min-width: 1040px) {
  .wrapper {
    background-image: none;
    min-height: 632px;
    height: 632px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath12168%26quot%3b)' fill='none'%3e%3ccircle r='45.88' cx='1187.68' cy='181.97' fill='url(%23SvgjsLinearGradient12169)'%3e%3c/circle%3e%3ccircle r='18.82' cx='808.65' cy='275.66' fill='url(%23SvgjsLinearGradient12170)'%3e%3c/circle%3e%3ccircle r='43.195' cx='960.51' cy='86.77' fill='url(%23SvgjsLinearGradient12171)'%3e%3c/circle%3e%3ccircle r='35.505' cx='1307.98' cy='475.07' fill='url(%23SvgjsLinearGradient12172)'%3e%3c/circle%3e%3ccircle r='46.37' cx='943.83' cy='210.7' fill='url(%23SvgjsLinearGradient12173)'%3e%3c/circle%3e%3ccircle r='25.425' cx='784.47' cy='174.06' fill='url(%23SvgjsLinearGradient12174)'%3e%3c/circle%3e%3ccircle r='35.51' cx='1090.82' cy='205.11' fill='url(%23SvgjsLinearGradient12175)'%3e%3c/circle%3e%3ccircle r='47.95' cx='162.81' cy='350.59' fill='url(%23SvgjsLinearGradient12176)'%3e%3c/circle%3e%3ccircle r='31.87' cx='1269.25' cy='209.36' fill='url(%23SvgjsLinearGradient12177)'%3e%3c/circle%3e%3ccircle r='15.9' cx='679.94' cy='108.98' fill='url(%23SvgjsLinearGradient12178)'%3e%3c/circle%3e%3ccircle r='45.9' cx='675.22' cy='497.93' fill='url(%23SvgjsLinearGradient12179)'%3e%3c/circle%3e%3ccircle r='36.175' cx='836.7' cy='297.76' fill='url(%23SvgjsLinearGradient12180)'%3e%3c/circle%3e%3ccircle r='48.46' cx='1224.62' cy='265.72' fill='url(%23SvgjsLinearGradient12181)'%3e%3c/circle%3e%3ccircle r='28.39' cx='1306.49' cy='392.18' fill='url(%23SvgjsLinearGradient12182)'%3e%3c/circle%3e%3ccircle r='29.54' cx='1045.46' cy='315.22' fill='url(%23SvgjsLinearGradient12183)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath12168'%3e%3crect width='1400' height='500' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1279.44' y1='181.97' x2='1095.92' y2='181.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12169'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='846.29' y1='238.02000000000004' x2='771.01' y2='313.30000000000007' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12170'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1046.9' y1='86.77' x2='874.12' y2='86.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12171'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1378.99' y1='475.07' x2='1236.97' y2='475.07' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12172'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1036.57' y1='117.96' x2='851.09' y2='303.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12173'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='835.32' y1='174.06' x2='733.62' y2='174.06' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12174'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1161.84' y1='205.11' x2='1019.8' y2='205.11' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12175'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='258.71000000000004' y1='254.68999999999997' x2='66.91' y2='446.49' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12176'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1332.99' y1='209.36' x2='1205.51' y2='209.36' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12177'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='711.7400000000001' y1='77.18' x2='648.1400000000001' y2='140.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12178'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='767.0200000000001' y1='406.13' x2='583.4200000000001' y2='589.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12179'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='909.05' y1='297.76' x2='764.35' y2='297.76' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12180'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1321.5399999999997' y1='168.8' x2='1127.6999999999998' y2='362.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12181'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1363.27' y1='335.4' x2='1249.71' y2='448.96' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12182'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1104.54' y1='315.22' x2='986.38' y2='315.22' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12183'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 40%2c 40%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }

  .container {
    min-height: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    text-align: left;
    align-items: flex-start;
  }

  .img {
    display: block;
    max-width: 30rem;
    margin-top: 2rem;
  }

  .slice {
    position: absolute;
    display: block;
    background-color: var(--clr-light-3);

    z-index: -1;
    width: 100%;
    height: 6rem;
    bottom: -2rem;
    left: 0;
    right: 0;
    transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
  }
}

@media only screen and (max-width: 334px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
