.cta {
  box-shadow: rgb(54, 54, 54) 0px 0px 0px 2px;
  border-radius: 0.2rem;
}

.menu {
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  top: 5.8rem;
  z-index: -1;
  padding: var(--p1);
}
