.cta {
  box-shadow: rgb(54, 54, 54) 0px 0px 0px 2px;
  border-radius: 0.2rem;
}

.wrapper {
  position: fixed;
  background-color: white;
  top: 5.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: -1;
  padding-top: 3rem;
  box-shadow: var(--bs-1);
}

.items {
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: var(--p1);
}

@media only screen and (min-width: 768px) {
  .items {
    flex-direction: row;
  }

  .wrapper {
    bottom: auto;
  }
}
