.wrapper {
  background-color: var(--clr-dark-2);
  border-bottom: 1px solid #979797;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  color: white;
  padding: var(--p1);
  align-items: center;
}
