.wrapper {
  position: sticky;
  top: 0;
  z-index: var(--zindex-topbar);
}

.bg {
  width: 100%;
  background-color: var(--clr-dark-2);
  border-bottom: 2px solid #2b2a2a;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-1);
  margin: auto;
  color: white;
  padding: 1rem var(--p1);
  align-items: center;
  background-color: inherit;
}

@media only screen and (min-width: 1040px) {
  .bg {
    border-bottom: none;
  }
}
